@model BidARide.ViewModels.LoginViewModel

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <div class="login">
        <table cellpadding="2" cellspacing="2">
            <tr>
                <td style="font-size: large; color: red; ">@ViewBag.Error</td>
            </tr>
            <tr>
                <td>@Html.ValidationMessageFor(model => model.account.Username)</td>
            </tr>
            <tr>
                <td>@Html.TextBoxFor(model => model.account.Username, new { placeholder = Html.DisplayNameFor(m => m.account.Username) })</td>
            </tr>
            <tr>
                <td>@Html.ValidationMessageFor(model => model.account.Password)</td>
            </tr>
            <tr>
                <td>@Html.PasswordFor(model => model.account.Password, new { placeholder = Html.DisplayNameFor(m => m.account.Password) })</td>
            </tr>
            <tr>
                <td style="font-size:large;">@Html.CheckBoxFor(model => model.remember) @Html.LabelFor(model => model.remember)</td>
            </tr>
            <tr>
                <td><button type="submit" value="Login">LOGIN</button></td>
            </tr>
            <tr>
                <td><button type="button" value="Register" id="register_btn" onclick="location.href='@Url.Action("Register", "Account")'">REGISTER</button></td>
            </tr>
        </table>
    </div>
}
